<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean name="knight" class="com.getthrough.springinaction.sia.knights.BraveKnight">
        <constructor-arg ref="quest"/>
    </bean>

    <bean name="quest" class="com.getthrough.springinaction.sia.knights.SlayDragonQuest">
        <constructor-arg value="#{T(System).out}"/>
    </bean>

    <bean name="minstrel" class="com.getthrough.springinaction.sia.knights.Minstrel">
        <constructor-arg value="#{T(System).out}"/>
    </bean>

    <!-- aop 配置 -->
    <aop:config>
        <!-- 1. 声明切面 -->
        <aop:aspect ref="minstrel">
            <!-- 2. 定义切点 -->
            <aop:pointcut id="embark" expression="execution(* *.embarkOnQuest(..))"/>
            <!-- 3.1 声明前置通知 -->
            <aop:before method="singBeforeQuest" pointcut-ref="embark"/>
            <!-- 3.2 声明后置通知 -->
            <aop:after method="singAfterQuest" pointcut-ref="embark"/>
        </aop:aspect>
    </aop:config>

</beans>